@model UI.Models.FamilyModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

<div id="dl-menu" class="section1 navbar navbar-inverse navbar-fixed-left">
    <div class="logo"> 
        <a onclick="location.href='@Url.Action("ReturnToIndex")'" data-menu="index">
            <img src="https://cdn-wedding-mc.azureedge.net/cdn/Logo_NavIcon.png" alt="Logo" /> 
        </a> 
    </div>
    <ul class="dl-menu nav navbar-nav menubar vertical_iconmenu">
        <li data-animation="7" class="active">
            <partial name="~/Views/Shared/MenuBar/_Rsvp.cshtml" />
        </li>
    </ul>
</div>


<div class="main-page-area">
    <div id="pt-main" class="pt-perspective">
        <div class="pt-page pt-page-7">
            <div class="container-fluid display_none bg-main-image">
                <div class="blur-img bg-rsvp"></div>
                <div class="page-fixed">
                    <div class="bg-main-image-overlay-fixed ">
                        <div class="main-section">
                            <div class="col-md-12">
                                <div class="page-title wow fadeInUp" data-class="fadeInUp">
                                    <h2>Confirma tu Asistencia<span><i class="glyphicon glyphicon-heart"></i></span></h2>
                                </div>
                                <div class="container">
                                    <div class="rsvp">
                                        <div class="rsvp-form white-box wow fadeInUp col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" data-class="fadeInUp">
                                            <p>
                                                Por favor, revisa que los datos de tu familia sean los correctos<br>
                                            </p>
                                            <div id="Success" class="successalert" style=" display:none;"> <strong>Gracias</strong>. </div>
                                            <div id="Error" class="errorelert" style="display:none;"> <strong>Hubo un error al confirmar.</strong> Inténtalo Después. </div>                                            <hr />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <p>Código de Invitación: </p>
                                                        <p> <i><b> @Html.DisplayFor(model => model.Family.InvitationCode) </b></i> </p>
                                                        <input type="hidden" id="invitationCodeConfirm" value="@Html.DisplayFor(model => model.Family.InvitationCode)" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <p>Familia: </p>
                                                        <p> <i><b> @Html.DisplayFor(model => model.Family.LastName) </b></i> </p>
                                                        <input type="hidden" value="@Html.DisplayFor(model => model.Family.LastName)" />
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <table id="tblFamilyMember" style="margin-left: auto; margin-right: auto;">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <center><p>Integrante</p></center>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Family.FamilyMembers)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <center> <p> <i><b> &nbsp;&nbsp;&nbsp; @Html.DisplayFor(modelItem => item.Names)</b></i> </p></center>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            <hr />
                                            <form class="form floating-label text-left form-validate" name="frmConfirmAssistance" id="frmConfirmAssistance" method="post">
                                                <p>
                                                    Para hacerte llegar tu invitación digital,por favor:<br>
                                                </p>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="phoneNumber" id="phoneNumber " required />
                                                    <label for="phoneNumber" style="font-size: 12px">Compártenos tu número de teléfono celular.</label>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="email" id="email" required />
                                                    <label for="email" style="font-size: 12px">Y también tu correo electrónico</label>
                                                </div>
                                                <input type="hidden" name="invitationCode" id="invitationCode" onkeydown="return onlyNumbers(event)" value="@Html.DisplayFor(model => model.Family.InvitationCode)" />
                                                <div class="rsvp-button text-center">
                                                    <button id="confirmAssistance" type="submit" class="hvr-sweep-to-right">Confirmar Asistencia</button>
                                                    <div id="loding" style="display:none; padding-left:20px;">
                                                        <img src="~/images/ajax-loader.gif" alt="Loader">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
